<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.otma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OTMA"
        tools:ignore="AllowBackup">
        <activity
            android:name=".PagamentoActivity"
            android:exported="true" />
        <activity android:name=".LocalizacaoActivity" />
        <activity android:name=".SemAlcoolActivity" />
        <activity android:name=".DestiladoActivity" />
        <activity android:name=".VinhoActivity" />
        <activity android:name=".CervejaActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CarrinhoActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

</manifest>